* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.statistics {
    width: 300px;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    border: 1px solid;
    background-color: ghostwhite;
}

.title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;

}

.lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    background-color: wheat;
    border-radius: 10px;
}

.item {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}